<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#orgbaff6f6">Introduction</a></li>
<li><a href="#org0558a52">Math 218: Matrices and Vector Spaces</a>
<ul>
<li><a href="#org949e43e">Description and Involvement</a></li>
<li><a href="#org52683b4">Restructuring the Engineering Curriculum</a></li>
</ul>
</li>
<li><a href="#orgb0317ce">Math 790-92: Topics in Foundational Mathematics</a>
<ul>
<li><a href="#orgb0b71ed">Description and Involvement</a></li>
<li><a href="#org9fb09e0">Curriculum Development</a></li>
</ul>
</li>
<li><a href="#org3d203b2">Math 202: Multivariable Calculus for Economists</a>
<ul>
<li><a href="#org5a93336">Description and Involvement</a></li>
<li><a href="#org06871e7">Curriculum Improvement</a></li>
</ul>
</li>
<li><a href="#orgd45007d">Math 771S: Teaching College Mathematics</a></li>
<li><a href="#org29996c9">Math 212: Multivariable Calculus</a></li>
<li><a href="#org56a5ff7">MIDS: Masters in Interdisciplinary Data Science</a></li>
<li><a href="#org3c17ece">Math 222: Advanced Multivariable Calculus</a></li>
<li><a href="#org3ec9e9c">Online Assessment</a></li>
<li><a href="#org281b40e">Departmental and University Service</a>
<ul>
<li><a href="#orgde8852a">Major Advising</a></li>
<li><a href="#org5d29e5a">Duke University Math Union</a></li>
<li><a href="#org8f668cc">Calculus Committee</a></li>
<li><a href="#orga1b893a">Duke University Poker Club</a></li>
</ul>
</li>
</ul>
</div>
</div>

<div id="outline-container-orgbaff6f6" class="outline-2">
<h2 id="orgbaff6f6">Introduction</h2>
<div class="outline-text-2" id="text-orgbaff6f6">
<p>
I have served as a Lecturer in the Department of Mathematics at Duke
University since Fall 2017. My primary responsibilities in this position have
been to teach both graduate and undergraduate students, to develop and improve
new and existing curricula, and to support the bureaucracy of the department.
</p>

<p>
I started at Duke as a PhD student in Fall 2010. Throughout my graduate
studies I was fortunate enough to serve as instructor of record of ten
undergraduate courses. I enjoy preparing lessons and interacting with students
and was very happy to accept my position as Lecturer after defending my
dissertation in Spring 2017.
</p>

<p>
Serving as a Lecturer over the past four years has afforded me the opportunity
to continue interacting with students and also to collaborate with
colleagues. I have also gained significant experience teaching in the
large-lecture format, which has helped me develop managerial skills necessary
to coordinate with multiple Teaching Assistants.
</p>

<p>
I look forward to continuing to serve the Mathematics Department and Duke
University as a lecturer in the future.
</p>
</div>
</div>

<div id="outline-container-org0558a52" class="outline-2">
<h2 id="org0558a52">Math 218: Matrices and Vector Spaces</h2>
<div class="outline-text-2" id="text-org0558a52">
</div>
<div id="outline-container-org949e43e" class="outline-3">
<h3 id="org949e43e">Description and Involvement</h3>
<div class="outline-text-3" id="text-org949e43e">
<p>
Math 218 "Matrices and Vector Spaces" is the Mathematics Department's newest
linear algebra course. The course was first taught by Professor Thomas
Witelski in Spring 2017 and Fall 2017 as a single-section course. Unlike our
other first-semester Linear Algebra offerings, Math 216 "Linear Algebra and
Differential Equations" and Math 221 "Linear Algebra and Applications", Math
218 focuses exclusively on the theory and applications of matrices and their
factorizations. Math 218 culminates with the study of "Singular Value
Decomposition", a matrix factorization important in the field of data
science. Our department's intention in developing Math 218 has been to better
service undergraduates interested in computation, such as computer science
majors.
</p>

<p>
I started teaching Math 218 in Spring 2018, and have taught the course every
semester since then. In Fall 2018, Math 218 scaled to two sections and a
laboratory component. This semester, I am the lead instructor teaching the
course in a large-lecture format to 120 students and managing two Teaching
Assistants.
</p>

<p>
Since Spring 2018, a large portion of my time has been devoted to developing
materials for and refining the curriculum of Math 218. In this capacity, I
have:
</p>

<ol class="org-ol">
<li>Written extensive beamer slides for each of my lectures, which I share
with my students and my colleagues. The source code that generates these
slides is written in LaTeX and publicly hosted on my university GitLab
account. These lecture slides include hundreds of figures and annotations
produced with PGF/TikZ, a pair of languages designed to produce vector
graphics.</li>
<li>Recorded videos of each of my lectures. These videos are posted on my
personal web-page and have proved particularly useful for helping students
during the COVID-19 pandemic.</li>
<li>Written computational modules in python for each lesson. These modules are
posted on my personal web-page and are designed to help students with more
intense calculations involved in their problem sets.</li>
<li>Written online quizzes for each lesson. These quizzes are posted on
Gradescope and consist of a mixture of multiple-choice and
fill-in-the-number problems. The source-code that generates these problems
is partially reliant on a randomizer written python, which allows for
questions to be recycled from semester-to-semester.</li>
</ol>
</div>
</div>

<div id="outline-container-org52683b4" class="outline-3">
<h3 id="org52683b4">Restructuring the Engineering Curriculum</h3>
<div class="outline-text-3" id="text-org52683b4">
<p>
In Spring 2019, Professor Ravi Bellamkonda called a meeting with Engineering
and Mathematics faculty members. Historically, first-year Engineering
students with strong mathematics backgrounds have taken Math 212
"Multivariable Calculus" as their first mathematics course. After taking Math
212, engineering students have then historically proceeded to take Math 216
"Linear Algebra and Differential Equations". For several years, the
Engineering school had been receiving complaints from students regarding Math
212 as their first college mathematics course.
</p>

<p>
I was fortunate enough to be invited to the meeting and suggested that we
view this situation as an opportunity to modernize our mathematics curriculum
for engineering students. Many concepts developed in multivariable calculus
are rooted in linear algebraic principles and I felt that students would be
better served to take a well-crafted matrix theory course before taking
multivariable calculus.
</p>

<p>
The Engineering and Mathematics faculty present at this meeting thought that
my idea had merit. It was decided that in Fall 2019 and Spring 2020,
Professor Sophia Santillan and I would pilot a program for a subset of
first-year engineering students. The students in this pilot would take Math
218 (rather than the "normal" Math 212) in Fall 2019 and then a modified
version of Math 212 (rather than the "normal" Math 216) in Spring 2020.
</p>

<p>
In Fall 2019, Professor Santillan and I taught independent sections of Math
218 exclusively to first-year engineers. This pilot program was well-received
by both students and faculty. In Spring 2020, I was informed by Dean John
Blackshear that my engineering pilot section of Math 218 received course
evaluations among the top 5% of all undergraduate courses in Trinity College.
</p>

<p>
Professor Santillan and I continued the pilot program in Spring 2020 by
teaching the same group of engineering students in Math 212. I expand upon
the details of this program below.
</p>

<p>
Both the Engineering School and the Mathematics Department have expressed
approval of this curriculum change for engineering students. In Fall 2021,
our pilot program will be expanded to all engineering students.
</p>
</div>
</div>
</div>

<div id="outline-container-orgb0317ce" class="outline-2">
<h2 id="orgb0317ce">Math 790-92: Topics in Foundational Mathematics</h2>
<div class="outline-text-2" id="text-orgb0317ce">
</div>
<div id="outline-container-orgb0b71ed" class="outline-3">
<h3 id="orgb0b71ed">Description and Involvement</h3>
<div class="outline-text-3" id="text-orgb0b71ed">
<p>
Math 790-92 "Topics in Foundational Mathematics" is a collection of
mini-courses offered by the Mathematics Department to graduate students
across the entire campus. The intent of these mini-courses is to offer
graduate students outside of the Mathematics Department an opportunity to
learn undergraduate-level mathematical concepts relevant to their research
interests. The courses are typically taken by masters and PhD students in
social and empirical sciences who are interested in incorporating more
mathematically technical methods into their research projects.
</p>

<p>
Math 790-92 was originally conceived by Professors Jack Bookman and Scott De
Marchi to serve graduate students in the Political Science department and was
first taught in Fall 2016 by Professors Jack Bookman and Sarah
Schott. Originally, the courses offered under the Math 790-92 moniker were
Differential Calculus, Integral Calculus, and Discrete Probability.
</p>

<p>
I first taught Math 790-92 as a PhD student in Spring 2017, when I taught two
modules on Discrete Probability and Introductory Linear Algebra. The
Introductory Linear Algebra course had an original syllabus written by me.
</p>

<p>
I took over the primary responsibility of teaching Math 790-92 in Fall 2017,
although Professor Jack Bookman occasionally teaches the course when I am
unavailable.
</p>
</div>
</div>

<div id="outline-container-org9fb09e0" class="outline-3">
<h3 id="org9fb09e0">Curriculum Development</h3>
<div class="outline-text-3" id="text-org9fb09e0">
<p>
Since taking over the responsibilities of teaching Math 790-92 in Fall 2017,
I have written syllabi for and taught seven distinct mini-courses:
</p>

<ol class="org-ol">
<li>Introduction to Matrices (Fall 2017, 2018, 2019 and Spring 2017, 2021)</li>
<li>Projections and Least Squares Methods (Spring 2021)</li>
<li>Matrix Decompositions and Data (Fall 2019, Spring 2019, 2021)</li>
<li>Discrete Probability (Fall 2017, 2018, 2019)</li>
<li>Differential Calculus (Spring 2020)</li>
<li>Integral Calculus (Spring 2020)</li>
<li>Multivariable Calculus (Spring 2019, 2020)</li>
</ol>

<p>
As of Spring 2020, I am the only person who has taught "Introduction to
Matrices", "Projections and Least Squares Methods", "Matrix Decompositions
and Data", and "Multivariable Calculus" as Math 790-92 modules.
</p>
</div>
</div>
</div>

<div id="outline-container-org3d203b2" class="outline-2">
<h2 id="org3d203b2">Math 202: Multivariable Calculus for Economists</h2>
<div class="outline-text-2" id="text-org3d203b2">
</div>
<div id="outline-container-org5a93336" class="outline-3">
<h3 id="org5a93336">Description and Involvement</h3>
<div class="outline-text-3" id="text-org5a93336">
<p>
Math 202 "Multivariable Calculus For Economics" is the terminal mathematics
course taken by economics majors. Our department first offered Math 202 in
Spring 2007 (which was then numbered Math 102). It is important to note that
Math 202 is not equivalent to Math 212, our "standard" multivariable calculus
course. Math 202 covers some basic linear algebraic concepts and focuses more
on linear approximations and optimization techniques while Math 212 covers no
linear algebra and focuses more on vector calculus theorems.
</p>

<p>
Math 202 has a reputation for being a difficult course to teach. The students
who take 202 are typically less prepared than the students who take 212, yet
the material covered in 202 is arguably more difficult to learn. Part of the
difficulty is due to the mixing of concepts from linear algebra with concepts
from multivariable calculus. This is compounded by the lack of a decent
textbook that covers the relevant concepts at a level accessible to the
students. Historically, the official textbook of Math 202 has been
"Mathematics for Economists" by Simon and Blume. This book is very poorly
written at a level directed at first-year economics PhD students and has very
few exercises.
</p>

<p>
I taught 202 for four consecutive semesters, starting in Spring 2017. Prior
to Spring 2017, 202 had been taught as a multi-section course. When I started
teaching 202, we switched to a "large-lecture" format where I lectured to
roughly 120 students in a lecture hall and the students participated in
smaller "discussion sections" once a week. Teaching in this format requires
the lecturer to take on a managerial role by coordinating with multiple
Teaching Assistants who run the discussion sections.
</p>
</div>
</div>

<div id="outline-container-org06871e7" class="outline-3">
<h3 id="org06871e7">Curriculum Improvement</h3>
<div class="outline-text-3" id="text-org06871e7">
<p>
Teaching 202 as a large lecture gave me the opportunity to improve the
curriculum. I started by writing comprehensive lecture beamer slides and
original exercises to share with the students. This gave the students a
resource other than Simon and Blume to consult while studying.  I assigned
reading and exercises from a freely-available "open source" calculus textbook
("Single and Multivariable Calculus" by David Guichard) to further direct
attention away from Simon and Blume. For the discussion sections, I wrote
weekly quizzes and "discussion assignments" that the students worked on in
groups. I also rearranged and removed a few topics from the syllabus to make
the workload more manageable for the students.
</p>

<p>
In Spring 2019, Professor Shira Viel took over the responsibility of teaching
and managing Math 202. Professor Viel shared some of my frustrations with the
course and, during Summer 2019, the two of us worked on revising the Math 202
curriculum. We decided that many of the problems were rooted in the failure
of the Simon and Blume textbook as a useful resource for students. We both
researched alternatives to Simon and Blume, which was a challenging task
given the lack of educational literature written on the topics covered in 202
at a level accessible to a typical 202 student.  We eventually settled on
using Michael Hoy's "Mathematics for Economics" as the primary resource for
the course while still using Guichard's "Single and Multivariable Calculus"
for supplementary material.
</p>

<p>
After settling on a new textbook, Professor Viel and I worked on revising the
syllabus in an effort to better reflect the telos of the course. Professor
Viel proposed these revisions in a formal document, which she submitted to
department officers. The redesigned syllabus was constructed to deemphasize
the more abstract concepts in the original syllabus in favor of covering more
applications directly relevant to economics students, such as
isoquants/indifference curves, convexity, and joint probability
distributions. This improved syllabus has been implemented since Fall 2019.
</p>
</div>
</div>
</div>

<div id="outline-container-orgd45007d" class="outline-2">
<h2 id="orgd45007d">Math 771S: Teaching College Mathematics</h2>
<div class="outline-text-2" id="text-orgd45007d">
<p>
The majority of introductory undergraduate courses in the mathematics
department are taught by mathematics PhD students. Typically, our incoming PhD
students enroll in the program with little to no instructional
experience. Consequently, our department requires PhD students to take Math
771S "Teaching College Mathematics".
</p>

<p>
Historically, Math 771S has primarily focused on the theory of mathematical
pedagogy with some hands-on practice included in the curriculum. I took the
course myself as a graduate student in Fall 2010 and felt that the hands-on
practice was much more useful in preparing me to teach my own courses than the
pedagogical theory. As such, I was excited to serve as the instructor of Math
771S in Fall 2017.
</p>

<p>
In Fall 2017, I reevaluated the Math 771S curriculum in effort to better
prepare the PhD students for the realities of serving as the instructor of
record of their own courses. To this end, I devised a curriculum that had the
students spending the majority of our in-class meetings giving and observing
practice lessons to and from their peers. These practice lessons were
accompanied by written feedback from their peer-observers and myself. Two of
my students, Ruby Kim and Omar Melikechi, went on to win the department's
"Captain L.P. &amp; Barbara Smith Award for Teaching Excellence" in Fall 2020,
after teaching their second course as instructor of record.
</p>

<p>
After teaching Math 771S in Fall 2017, I felt that the course still had room
for improvement. Professor Victoria Akin taught 771S in Fall 2018 and
expressed similar sentiments. Professor Akin and I collaborated on developing
a syllabus that incorporated the participation of entities outside of the
Mathematics Department. This syllabus included a presentation on "Active
Learning" given by representatives of Duke's "Office of Learning Innovation"
and a seminar on student anxiety given by a representative of Duke's "Academic
Resource Center". In Fall 2019, Professor Akin and I co-taught Math 771S using
our revised syllabus.
</p>
</div>
</div>

<div id="outline-container-org29996c9" class="outline-2">
<h2 id="org29996c9">Math 212: Multivariable Calculus</h2>
<div class="outline-text-2" id="text-org29996c9">
<p>
I taught Math 212 "Multivariable Calculus" in Spring 2020 to a group of
first-year engineering students as a continuation of the experimental pilot
program (detailed above) developed by Professor Santillan and myself. The
students in my Math 212 section had previously taken Math 218 "Matrices and
Vector Spaces" in Fall 2019.
</p>

<p>
Traditionally, Math 212 students are assumed to have no prior knowledge of
linear algebra. However, the engineering students in our pilot program took
Math 218 previously, so their linear algebraic background was quite
strong. This allowed Professor Santillan and myself to rewrite the Math 212
syllabus for our pilot program to account for this level of mathematical
maturity in our students.
</p>

<p>
The Math 212 syllabus Professor Santillan and I taught from in Spring 2020
differed from the traditional Math 212 in the following ways:
</p>

<ol class="org-ol">
<li>We introduce vector fields on the first day of the course and continually
apply concepts introduced throughout the course to vector fields. This
helps ease the burden of learning the "vector calculus theorems" that
students struggle with later in the course.</li>
<li>We use the language of matrices throughout the course. For example, we
approach the topic of unconstrained optimization by discussing the
definiteness of the quadratic form corresponding to the Hessian matrix of
the objective function. This language is traditionally unavailable to
students who have not had a course in linear algebra that covers the
definiteness of Hermitian matrices.</li>
<li>We used Susan Colley's "Vector Calculus", which is beautifully written and
embraces the language of matrices throughout the whole text.</li>
</ol>

<p>
The feedback from the engineering students was overwhelmingly positive and the
Engineering department has approved the official adoption of our pilot program
for all students starting in Fall 2021.
</p>
</div>
</div>

<div id="outline-container-org56a5ff7" class="outline-2">
<h2 id="org56a5ff7">MIDS: Masters in Interdisciplinary Data Science</h2>
<div class="outline-text-2" id="text-org56a5ff7">
<p>
The Duke University Master in Interdisciplinary Data Science (MIDS) is a
two-year program designed to train data scientists who are equipped with
knowledge spanning across multiple disciplines. The program started in Fall
2018 with a cohort of around 50 students.
</p>

<p>
One of the goals of the MIDS program is to bring students from diverse
intellectual backgrounds together. During the development of the MIDS
curriculum, the designers of the program realized that it would be necessary
for their students to start the program with some common knowledge. It was
then decided that MIDS would require their students to take a sequence of
three courses online over the summer before their first year. These courses
were to be designed and implemented by Duke faculty.
</p>

<p>
Professor Jonathan Mattingly contacted me in Fall 2017 to inquire if I would
be willing to design the Linear Algebra portion of the MIDS summer program. I
accepted the opportunity and started meeting with the program leader,
Professor Jana Schaich Borg, in Spring 2018 to start working on the
curriculum.
</p>

<p>
The online linear module I developed for MIDS consisted of ten lessons,
divided into four units. Each lesson consists of a "course-pack" written by me,
along with a video of me lecturing on the material. Students take online
quizzes as they work through each lesson so that the program directors can
assess their learning. At the end of the module, the students take an online
exam. All quiz and exam problems were written by me.
</p>

<p>
The MIDS program continues to use my Linear Algebra module for its online
review. During the Summer 2019 and Summer 2020, I held virtual office hours to
help students working through the module.
</p>
</div>
</div>

<div id="outline-container-org3c17ece" class="outline-2">
<h2 id="org3c17ece">Math 222: Advanced Multivariable Calculus</h2>
<div class="outline-text-2" id="text-org3c17ece">
<p>
Math 222 is the multivariable calculus course taken by advanced first-year
undergraduates who intend to major in mathematics. I taught Math 222 in Spring
2018 and thoroughly enjoyed the experience. One of my students, Anuk
Dayaprema, subsequently served as a grader for math Math 218 courses at my
request.
</p>
</div>
</div>

<div id="outline-container-org3ec9e9c" class="outline-2">
<h2 id="org3ec9e9c">Online Assessment</h2>
<div class="outline-text-2" id="text-org3ec9e9c">
<p>
Assessing student learning is one of the most important, and one of the most
challenging, aspects of teaching. In my opinion, the most progressive
technological advances of student assessment in recent years have been
achieved by online grading platforms such as Gradescope and Crowdmark. These
platforms enable instructors and students to securely upload written work to a
website so that instructors can do all of their grading in a centralized
location. This technology not only makes grading more efficient, but it also
affords instructors the opportunity to collect assessment data.
</p>

<p>
I started using Gradescope platform in all of my classes in Fall 2017. Storing
all of my students work securely online has made me more effective both as an
instructor and as a manager of Teaching Assistants in large-lecture
courses. Using the platform has improved grading consistency and efficiency.
</p>

<p>
Online assessment with this level of sophistication was new technology in
2017, and during this time I advocated for others in the mathematics
department to take advantage of these platforms. In Fall 2017, I met with
Arjun Singh, the Co-founder and CEO of Gradescope to discuss the company's
platform and plans for the future. In Spring 2018, I also used the online
platform "Crowdmark" at the suggestion of Professor Jonathan Mattingly. During
this time, Professor Mattingly and I met with the Founder and CEO James
Colliander to discuss the advantages of using Crowdmark throughout our
department.
</p>

<p>
The use of online grading platforms is now common among our large introductory
courses. In particular, we now use Gradescope to grade the final exams in our
large block courses, which has improved the efficiency and consistency of
grading.
</p>
</div>
</div>

<div id="outline-container-org281b40e" class="outline-2">
<h2 id="org281b40e">Departmental and University Service</h2>
<div class="outline-text-2" id="text-org281b40e">
</div>
<div id="outline-container-orgde8852a" class="outline-3">
<h3 id="orgde8852a">Major Advising</h3>
<div class="outline-text-3" id="text-orgde8852a">
<p>
Since Fall 2018 I have served as an undergraduate advisor of two mathematics
majors: Phoebe Klett and Ritika Bharati.
</p>

<p>
Phoebe Klett was a student in my Math 202 class in Fall 2018. Since Math 202
is a terminal mathematics course for economics majors, it is rare for
undergraduates who take the course to end up majoring in
mathematics. However, Phoebe enjoyed taking Math 202 from me and expressed an
interest in changing her major to mathematics. Phoebe and I had FLUNCH
together to discuss her desire to pursue mathematics as a major.
</p>

<p>
In Spring 2018, I helped facilitate discussions between Phoebe and department
officials to help coordinate her transition from majoring in economics to
mathematics. Phobe officially started the mathematics major in Fall 2018 and
explicitly requested me to serve as her advisor.
</p>

<p>
Phoebe will graduate in Spring 2021 with plans on pursuing a PhD in
mathematics in Fall 2021. I view Phoebe's success as a mathematics major as a
highlight of my teaching career. In the future, I hope to encourage more
students taking mathematics courses off of the major-track to pursue
mathematics.
</p>
</div>
</div>

<div id="outline-container-org5d29e5a" class="outline-3">
<h3 id="org5d29e5a">Duke University Math Union</h3>
<div class="outline-text-3" id="text-org5d29e5a">
<p>
The Duke University Math Union (DUMU) is an organization sponsored by the
Mathematics Department for students interested in mathematics outside of the
classroom. Professor David Kraines has served as the faculty sponsor of DUMU
for several years. At Professor Kraines' request, I served as a faculty
sponsor of DUMU starting in Spring 2019.
</p>

<p>
Each Fall, hundreds of high school students travel to Duke to participate in
the "Duke University Math Meet", a mathematics competition hosted and
organized by DUMU. From Spring 2019 to Fall 2019, I helped the organization
plan for the competition, which was held November 2, 2019. On the day of the
competition, I proctored exams during the competition and helped with on-site
logistics.
</p>

<p>
In addition to helping with the math meet, I regularly met with the
undergraduate DUMU officers to help organize social events for the
organization.
</p>
</div>
</div>

<div id="outline-container-org8f668cc" class="outline-3">
<h3 id="org8f668cc">Calculus Committee</h3>
<div class="outline-text-3" id="text-org8f668cc">
<p>
Part of my responsibility as a member of the teaching faculty is to serve on
the Calculus Committee. This committee oversees the bureaucratic structure of
the department's introductory courses.
</p>

<p>
As a member of the Calculus Committee, I have contributed to discussions
pertaining to the restructuring of the Math 112L syllabus, the overhaul of
the block final grading system, and the bureaucratic response to the COVID-19
pandemic.
</p>
</div>
</div>

<div id="outline-container-orga1b893a" class="outline-3">
<h3 id="orga1b893a">Duke University Poker Club</h3>
<div class="outline-text-3" id="text-orga1b893a">
<p>
Since Spring 2019, I have served as the faculty sponsor of the Duke
University Poker Club. I became involved in the group after interacting with
a few of its officers while working on organizing the Duke University Math
Meet.
</p>
</div>
</div>
</div>
