/* CSS */
/* @import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css); */

:root {
	--background: #282a36;
	--current-line: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
	--font-size: 16px;
}
* {
	box-sizing: border-box;
	color: var(--foreground);
	/* font-family: 'Fira Code'; */
	font-family: monospace;
	font-size: var(--font-size);
	line-height: 1.428;
	margin: 0px;
}
html {
	margin-bottom: 500px;
}
body {
	background-color: var(--background);
	max-width: 1125px;
	margin: auto;
}
p {
	margin-top: 1em;
	margin-bottom: 1em;
}
a {
	color: var(--purple);
	text-decoration: none;
}
a:hover {
	color: var(--green);
	text-decoration: underline;
}
a img {
	height: 1.25em; /* 1.75em; */
}
a img:hover {
	background: rgba(0, 0, 0, 0);
	transition: .5s;
	transform: scale(2, 2);
	text-decoration: none;
}
h1 {
	color: var(--red);
	font-size: 2em;
}
h2 {
	color: var(--green);
	font-size: 1.5em;
}
code {
	color: var(--pink);
	font-weight: bold;
}
#sitetitle {
	color: var(--red);
	font-size: 1em;
}
#sitetitle:hover {
	text-decoration: none;
}
.top-nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}
.top-nav-title {
	width: 45%;
}
.top-nav-links {
	display: flex;
	justify-content: space-around;
	width: 55%;
}
.top-nav-links li {
	list-style: none;
}
.top-nav-links a:hover {
	/* border-bottom: var(--magenta) inset medium; */
	text-decoration: none;
	font-weight: bold;
}
.banner {
	border-radius: .3rem;
	height: 28vh; /* used to be 24vh, then 32vh */
	margin-left: -1em;
	margin-right: -1em;
	margin-bottom: 1em;
}
table {
	border-collapse: collapse;
	min-width: 66%;
}
tr:hover {
	background-color: var(--current-line);
}
.blank_row {
	height: 0.75em !important; /* overwrites any other rules */
	background-color: var(--background) !important;
}
